# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
bin/*
*.exe
*.out
*.app

# Cmake
build/*

# Others
.DS_Store
.cache/*
data/data_files
data/project_files
/tmp

# IDE
.vscode/*
.idea/*
cmake-build-debug
cmake-build-debug-wsl
