[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "third-party/threadpool"]
	path = third-party/threadpool
	url = https://github.com/ZjuYTW/ThreadPool.git
